body, h1, h2, h3, h4, p ,ol, li ,ul  {
	margin: 0;
	font-family: Montserrat;
}

a{
	text-decoration: none;
}

.header{
	margin: 30px 0;
	display: inline-block;
	width: 1171px;
	height: 57px;
	text-align: left;
}

.header a{
	width: 119.6%;
	font-family: Montserrat;
	font-size: 14px;
}

.header__spb{
	margin-left: 130px;
	color: #2F80ED;
}

.header__msc{
	margin-left: 25px;
	color: white;
}

.header__minsk{
	margin-left: 25px;
	color: white;
}

.header__program{
	margin-left: 158px;
	color: white;
}

.header__review{
	margin-left: 42px;
	color: white;
}

.header__price{
	margin-left: 42px;
	color: white;
}

.header__teacher{
	margin-left: 42px;
	color: white;
}

.main{
	background: url("./img/main-bg.jpg");
	margin: 0;
	height: 100vh;
	width: 100%;
}

.main__container{
	position: absolute;
	top: 162px;
	left: 733px;
	width: 552px;
	height: 337px;
	color: white;
}

.main__container h1{
	margin: 10px 0;
}

.main__date{
	font-size: 16px;
	line-height: 124.4%;
	letter-spacing: 5%;
}

.reviews{
	text-align: center;
	width: 231px;
	height: 231px;
	background: radial-gradient(#F9FBFF, #CADEF9);
	border-radius: 50%;
	position: absolute;
	top: 444px;
	left: 184px;
	color: #2F80ED;
	font-size: 14px;
}

.reviews div{
	display: table-cell;
	width: 231px;
	height: 231px;
	vertical-align: middle;
}

.reviews__rating{
	font-size: 34px;
	line-height: 153.1%;
}

.reviews__read{
	font-size: 10px;
	line-height: 195%;
	color: #2F80ED;
}

.second{
	display: flex;
	flex-direction: row;
	background-color: #FFFFFF;
	margin: 84px 130px;
}

.second__container1{
	display: inline-block;
	width: 40%;
	line-height: 124.4%;
	align-self: center;
	font-size: 30px;
	padding-right: 40px;
}

.second__container2 h3{
	margin-bottom: 20px;
	color: #2F80ED;
}

.second__container2{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	line-height: 124.4%;
	padding: 30px;
}	

.second__container2 div{
	flex-direction: row;
	padding: 30px;
	width: calc(50% - 90px);
	/*height: calc(50% - 30px);*/
	background-color: #FFFFFF;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 0 0 40px 10px #CADEF9;
	font-size: 14px;
	color: #636363;
}


.th{
	display: table-cell;
	background: url("./img/th-bg.jpg");
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.th__container{
	display: flex;
	width: 975px;
	margin: 0 auto;
	line-height: 143.6%;
	color: #636363;
}

.th h2{
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}

.th__container div{
	width: 225px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 14px;
}

.th h5, .th4 h4{
	color: #2F80ED;
}

.th4{
	width: 1032px;
	margin: 0 auto;
}

.th4__container{
	display: flex;
	flex-direction: row;
}

.th4 a{
	border-bottom: 2px dashed;
	color: #2F80ED;
	font-size: 20px;

}

.th4__container2{
	align-self: center;
	width: 50%;
}

.th4__container1{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	align-self: center;
}

.th4__container1 div{
	flex-direction: row;
	width: calc(50% - 30px);
	height: 200px;
	background-color: #FFFFFF;
	margin-left: 15px;
	margin-right: 15px;
	color: #636363;
}

.th4 h2{
	margin-bottom: 45px;
}

.th4 h4{
	margin-bottom: 10px;
	color: #2F80ED;

}

.th4__container2 div{
	width: calc(330px - 60px);
	padding: 60px; 
	margin: 0 auto;
	line-height: 143.6%;
	border-radius: 10px;
	box-shadow: 0 0 40px 10px #CADEF9;
	color: #636363;
}

.th5{
	background: url("./img/5th-bg1.jpg");
	padding-top: 100px;
	min-height: 100vh;
	
}

.th5 h2{
	padding-left: 150px;
}

.th5__container{
	display: flex;
	height: 100%;
	margin:  0 130px;
}

.th5__container1{
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}

.th5__container11{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	align-self: center;
	width: calc(50% - 40px - 80px);
	min-height: 200px;
	margin: 20px;
	padding: 40px;
	line-height: 143.6%;
	border-radius: 10px;
	font-size: 16px;
}

.th5__container1__img{
	width: calc(20% - 5px);
	padding-right: 5px;
}

.th5__container1__img img{
	width: 100%;
}

.th5__container__txt{
	width: 80%;
	color: #636363;
}

.th5__container__txt h4{
	color: black;
}

.th6{
	width: calc(100vw - 280px);
	min-height: 100vh;
	padding: 0 130px;
}

.th6__container{
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
}

.th6__container1, .th6__container2{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	align-self: center;
}

.th6__container2__txt{
	width: calc(25% - 60px);
	margin-left: 30px;
	margin-right: 30px;
	line-height: 143.6%;
	font-size: 16px;
	color: #636363;
}

.th6__container1__video img{
	margin-left: 30px;
	width: 600px;
}

.th6__container1__txt{
	align-self: center;
	text-align: center;
	margin-left: 60px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 40px 10px #CADEF9;
	color: #636363;
}

.th6__container h2{
	margin: 60px 0;
	padding-left: 30px;
	color: black;
}

.th6__container h4{
	margin-bottom: 20px;
	color: #2F80ED;
}

.th7{
	width: calc(100vw - 280px);
	min-height: 100vh;
	padding: 0 130px;
	background: url("./img/7th-bg.jpg");
	background-repeat: no-repeat;
}

.th7__container{
	display: flex;
	color: #636363;
	min-height: 100vh;
}

.th7__container h4{
	font-size: 16px;
	margin-bottom: 20px;
}

.th7__container1{
	width: 50%;
}

.th7__container2{
	width: calc(50% - 70px);
	padding: 25px 70px;
	align-self: top;
	
}

.th7__container1__1, .th7__container1__2{
	width: calc(100% - 80px);
	padding: 15px 70px;
	align-self: center;
} 

.th7__container p{
	line-height: 180%;
	font-size: 16px;
	background-color: #fff;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 10px;
}

.th7__txt{
	position: relative;
}

.th7__txt:before{
	display: block;
	position: absolute;
	content: '';
	background-color: #fff;
	width: 20px;
	height: 20px;
	bottom: -10px;
	transform: rotate(45deg);
}

.th8{
	max-width: 100vw;
	min-height: 100%;
	text-align: center;
}

.th8__container{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.th8__container__photo{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.th8__container__photo img {
	width: calc(25% - 7.5px);
	margin-bottom: 10px;
	margin-right: 10px;
}

.th8__container__photo img:nth-clild(4n){
	margin-right: 100px;
}

img.th8__4, img.th8__8{
	margin-right: 0;
}

.th8__container h2{
	padding: 0 auto;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 90px;
}

.price4comp{
	max-width: 100vw;
	min-height: 100vh;
}

.price4comp__container{
	width: calc(100vw - 160px);
	min-height: 100%;
	margin: 0 80px;
	color: #2F80ED;
}

.price4comp__container1{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	width: 90%;
	margin: 0 auto;
}

.price4comp__container1 div{
	width: calc(33% - 120px);
	background-color: #fff;
	box-shadow: 0 0 40px 10px #CADEF9;
	margin: 30px;
	text-align: center;
	padding: 50px 30px;
	border-radius: 20px;
	line-height: 158.5%;
}

.price4comp__container2{
	width: 570px;
	background-color: #fff;
	box-shadow: 0 0 40px 10px #CADEF9;
	margin: 30px auto;
	text-align: center;
	padding: 50px 20px;
	border-radius: 20px;
}

.price4comp__container2__tarif{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	width: 90%;
	margin: 0 auto;
}

.price4comp__container2__txt{
	width: calc(50% - 0px);
	align-self: center;
}

.price4comp__container2__btn{
	width: calc(50% - 0px);
	align-self: center;

}

.price4comp a.btn {
    display: inline-block;
    background: #52D1BC;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 30px;
    font-style: bold;
}

.price4comp__container2__btn a.btn{
	margin: 0;
}

.price4comp h2{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
}

.price4comp h3{
	font-size: 25px;
	margin-bottom: 15px;
}

.WhatsIn{
	max-width: 100vw;
	min-height: 100vh;
	background: url("./img/WhatsIn-bg.jpg");
	padding-top: 150px;
	padding-bottom: 390px;
}

.WhatsIn__container{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	min-height: calc(100vh - 60px);
	margin: 0 auto;
	padding: 0 120px;
	align-self: center;
}

.WhatsIn__container>div{
	width: calc(50% - 170px);
	margin: 25px;
	background-color: #fff;
	border-radius: 20px;
	padding: 60px;
}

.WhatsIn__video img{
	width: 100%;
}

.WhatsIn__3month{
	display: flex;
	flex-wrap: wrap;
}

div.WhatsIn__img{
	max-width: 30%;
}

div.WhatsIn__txt{
	width: calc(70% - 20px);
	margin-left: 20px;
}
 
div.WhatsIn__descript{
	width: calc(50% - 270px);
	padding-top: 90px;
	padding-bottom: 0;
	padding-left: 200px;
	padding-right: 20px;
	background-color: transparent;
	color: #fff;
}

.WhatsIn__chat img{
	margin-bottom: 20px;
}

.WhatsIn h3{
	color: #2F80ED;
	font-size: 16px;
	letter-spacing: 5%;
	margin-bottom: 10px;
}

.WhatsIn h2{
	display: inline-block;
	padding-left: 150px;
	color: #fff;
}

.registration{
	max-width: 100vw;
	background-color: #F9FBFF;
}

.registration__container{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	padding: 60px;
}

.registration__container div{
	width: calc(25% - 40px);
	margin: 0 20px;
}

.registration a.btn {
    display: inline-block;
    background: #52D1BC;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-style: bold;
}

input{
	padding: 10px 20px;
	padding-left: 20px;
	border: 1px solid #CADEF9;
	color: #C6C6C6;
}

.footer{
	max-width: 100vw;
}

.footer__city__container{
	max-width: 100vw;
	background-color: #2F80ED;
}

.footer__city{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin:0 auto;
	
}

.footer__city>div{
	width: 50%;
}

.footer__cities{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
}

.footer__cities div{
	width: 15%;
	text-align: center;
}

div.footer__cities :first-child{
	width: 30%;
}

.footer__cities a{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

div.footer__registration{
	width: calc(50% - 280px);
	padding-left: 280px;
}

.footer__registration a.btn {
    display: inline-block;
    background: #fff;
    color:  #2F80ED;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-style: bold;
    margin: 50px 0;
}

.footer__discript__container{
	max-width: 100vw;
	background-color: rgb(25, 97, 193);
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

.footer__discript{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.footer__copyright{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50%;
	font-size: 14px;
}

.footer__dogovor{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.footer__dogovor div{
	width: calc(50% - 20px);
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 20px;
}

.footer__oferta{
	text-align: right;
}