body, h1, h2, h3, h4, p ,ol, li ,ul  {
	margin: 0;
}

.header{
	margin: 30px 0;
	display: inline-block;
	width: 1171px;
	height: 57px;
	text-align: left;
}

.header a{
	width: 119.6%;
	font-family: Montserrat;
}

.header__spb{
	margin-left: 130px;
}

.header__msc{
	margin-left: 25px;
}

.header__minsk{
	margin-left: 25px;
}

.header__program{
	margin-left: 158px;
}

.header__review{
	margin-left: 42px;
}

.header__price{
	margin-left: 42px;
}

.header__teacher{
	margin-left: 42px;
}

.main{
	position: absolute;
	top: 162px;
	left: 630px;
	width: 552px;
	height: 337px;
}

.reviews{
	text-align: center;
	width: 231px;
	height: 231px;
	background: radial-gradient(#F9FBFF, #CADEF9);
	border-radius: 50%;
	position: absolute;
	top: 444px;
	left: 184px;
}

.reviews div{
	width: 231px;
	height: 231px;display: table-cell;
	vertical-align: middle;
}
